$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
/* COLORI */

$font: 15px;

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* FONT */

body {
  background-color: $very-light-gray;
  main {
    text-align: center;
    h1 {
      color: $grayish-blue;
      font-size: 1.6rem;
      margin-top: 4rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: xx-large;
      margin: 0.5rem;
    }
    p {
      font-size: 20px;
      color: hsl(229, 6%, 66%);
      margin: 1rem;
      margin-bottom: 4rem;
    }

    .card {
      background-color: hsl(0, 0%, 100%);
      border-top: 4px solid $cyan;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      text-align: left;
      margin: 1.5rem;
      padding: 2rem;
      border-radius: 5px;
      p {
        font-size: 16px;
      }
      img {
        margin-left: 13rem;
        margin-top: 1rem;
        width: 2.9rem;
      }
    }
    #team-builder {
      border-top-color: $red;
    }
    #karma {
      border-top-color: $orange;
    }
    #calculator {
      border-top-color: $blue;
    }
  }

  footer {
    .attribution {
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
// LAYOUT MOBILE

@media only screen and (min-width: 1440px) {
  body {
    main {
      .container {
        width: 670px;
        position: relative;
        margin: auto;
        h1 {
          font-size: xx-large;
          margin-top: 92px;
          margin-bottom: 25px;
        }
        h2 {
          font-size: 2.4rem;
          font-weight: 600;
          margin-bottom: 33px;
        }
        p {
          font-size: 23px;
          margin-bottom: 66px;
        }
        .card {
          width: 357px;
          height: 251px;
          h3 {
            color: $very-dark-blue;
          }
          p {
            font-size: 18px;
          }
          img {
            width: 65px;
            height: 69px;
            margin-left: 285px;
            margin-bottom: 30px;
          }
        }
        #supervisor {
          position: absolute;
          top: 425px;
          left: -365px;
        }
        #team-builder {
          margin: auto;
        }
        #karma {
          margin: 2rem auto;
        }
        #calculator {
          position: absolute;
          top: 425px;
          left: 565px;
        }
      }
    }
  }
}
/* DESKTOP */
